{% extends "expense/baselr.html" %}

{% block title %}User Registration{% endblock %}
{% comment %} add skip for now in here when free {% endcomment %}
{% block body %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="p-4 shadow-lg rounded-4" style="background-color:rgb(139, 118, 255);">
        <h3 class="text-center text-light mb-4">User Registration</h3>
        
        <form method="POST" action="{% url 'details' uid=user.UID %}">
          {% csrf_token %}
          <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control bg-dark text-light" id="fullName" name="full_name" placeholder="Full Name" required>
                <label for="fullName" class="text-light">Full Name</label>
              </div>
              <hr class="my-3 border border-light " />
              <div class="form-floating mb-3">
                <input type="date" class="form-control bg-dark text-light" id="dob" name="dob" placeholder="Date of Birth" required>
                <label for="dob" class="text-light">Date of Birth</label>
              </div>
              <hr class="my-3 border border-light " />
              <div class="mb-3">
                <label class="form-label d-block py-2 fs-5 text-light">Gender</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input  bg-dark text-light" type="radio" name="gender" id="male" value="male" required selected>
                  <label class="form-check-label text-light" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input bg-dark text-light" type="radio" name="gender" id="female" value="female">
                  <label class="form-check-label text-light" for="female">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input bg-dark text-light" type="radio" name="gender" id="other" value="other">
                  <label class="form-check-label text-light" for="other">Other</label>
                </div>
              </div>
                            
            </div>

            <!-- Vertical HR divider -->
            <div class="col-md-1 d-flex justify-content-center">
              <div style="width:1px; background-color: rgba(255, 255, 255, 0.2); height: 100%;"></div>
            </div>

            <!-- Right Column -->
            <div class="col-md-5">

              <div class="form-floating mb-3">
                <select class="form-select bg-dark text-light" id="state" name="state" aria-label="State selection"  required>
                  <option value="" selected disabled class="text-light">Select your state</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu Kashmir">Jammu Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Odisha">Odisha</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="West Bengal">West Bengal</option>
                </select>
                <label for="state" class="text-light">State</label>
              </div>
              <hr class="my-3 border border-light " />
              <div class="form-floating mb-3">
                <input type="text" class="form-control bg-dark text-light" id="city" name="city" placeholder="City" required>
                <label for="city" class="text-light">City</label>
              </div>
              <hr class="my-3 border border-light " />
              <div class="form-floating mb-3">
                <select class="form-select bg-dark text-light" id="state" name="occupation" aria-label="Occupation selection" required>
                  <option value="" selected disabled class="text-light">Select your Occupation</option>
                  <option value="Employed">Employed</option>
                  <option value="Unemployed">Unemployed</option>
                </select>
                <label for="state" class="text-light">Occupation</label>
              </div>
            </div>
          </div>

          <!-- Submit -->
          <div class="d-grid mt-4">
            <input type="submit" class="btn btn-outline-light btn-lg rounded-3" value="Register" >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
