{% extends 'expense/baselr.html' %}
{% block title %}VERIFY{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <fieldset>
                    <legend>VERIFY</legend>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="email" class="form-control" placeholder="example@example.com">
                        <label for="">OTP</label>
                        <input type="text" name="password" class="form-control" placeholder="_ _ _ _ _ _">   
                        <input type="button" value="Verify">
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock  %}