{% extends 'expense/baselr.html' %}
{% block title %}VERIFY{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <fieldset class="bg-light card shadow-lg shadow-info">
                    <strong class="text-center pt-3 pb-0 card-text fs-3">Email Verification</strong>
                    <form action="{% url 'email_verify' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="email" class="form-control" value={{email}}>
                        <label for="">OTP</label>
                        <input type="number" name="otp" class="form-control" placeholder="_ _ _ _ _ _">   
                        <input type="submit" value="Verify">
                    </form>
                </fieldset>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
{% endblock  %}