{% extends 'expense/baselr.html' %}
{% block title %}LOGIN{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <fieldset>
                    <legend>LOGIN</legend>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" name="email" class="form-control" placeholder="example@example.com">
                        <input type="password" name="password" class="form-control" placeholder="********">
                        <input type="submit" value="LOGIN"  class="btn btn-primary">
                        <a href="{% url 'signup' %}" class="btn btn-outline-info" >Signup</a>
                        <a href="{% url 'forgot_password' %}" class="btn btn-outline-primary" >Forgot Password</a>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock  %}