{% extends 'expense/baselr.html' %}
{% block title %}LOGIN{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h3 class="card-title text-center m-5">Login | EXPENSEO</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3 px-2">
                                <span class="col-sm-1 input-group-text  border border-secondary border-2 border-end-0"><i class="bi bi-envelope"></i></span>
                                <input type="text" name="email" id="email" class="form-control border border-secondary border-2" value='{{email|default:""}}' placeholder="your_email@here.com">
                            </div>
                            <div class="input-group mb-3 px-2">
                                <span class="col-sm-1 input-group-text  border border-secondary border-2 border-end-0"><i class="bi bi-key" id="toggleIcon"></i></span>
                                <input type="password" name="password" id="password" class="col-sm-10 form-control  border border-secondary border-2 border-end-0" placeholder="********">
                                <button type="button" class="btn border border-start-0 border-secondary border-2 rounded-end" id="togglePassword">
                                    <i class="bi bi-eye" id="toggleIcon"></i>
                                </button>
                            </div>
                            <div class="d-grid m-2">
                                <input type="submit" value="Login" class="btn btn-dark col">
                            </div>
                        </form>
                        <div class="d-flex align-items-center my-1">
                            <hr class="flex-grow-1 m-3 border border-secondary border-2 opacity-75">
                            <span class="mx-3 text-muted">OR</span>
                            <hr class="flex-grow-1 m-3 border border-secondary border-2 opacity-75">
                        </div>
                        <div class="row m-2 align-items-center">
                            <div class="col-sm-5 text-center">
                                <span>Sign Up</span>
                            </div>
                            <i class="col-sm-2 text-center bi bi-arrow-right"></i>
                            <div class="col-sm-5">
                                <a href="{% url 'signup' %}" class="btn btn-outline-dark form-control">Signup</a>
                            </div>
                        </div>
                        <div class="row m-2 align-items-center">
                            <div class="col-sm-5 text-center">
                                <span>Forgot Password ?</span>
                            </div>
                            <i class="col-sm-2 text-center bi bi-arrow-right"></i>
                            <div class="col-sm-5">
                                <a href="{% url 'forgot_password' %}" class="btn btn-outline-dark form-control">Forgot Password</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
<script>
    const togglePassword = document.getElementById('togglePassword');
  const password = document.getElementById('password');
  togglePassword.addEventListener('click', function () {
    const icon = this.querySelector("i");
    if (password.type === 'password') {
      password.type = 'text';
      icon.classList.replace("bi-eye", "bi-eye-slash");
    } else {
      password.type = 'password';
      icon.classList.replace("bi-eye-slash", "bi-eye");
    }
  });
</script>
{% endblock  %}