{% extends 'expense/base.html' %}

{% block title %}PROFILE{% endblock %}
{% block page %}PROFILE{% endblock %}
{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        {% if user_d and user %}
        <div class="col-md-8">
            <div class="card shadow-lg p-4 bg-dark text-light rounded-4">
                <h2 class="text-center mb-4"><i class="bi bi-person-circle me-2"></i>{{ user_d.full_name }}</h2>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark text-light fs-5">
                        <i class="bi bi-envelope-at-fill text-info me-2"></i>Email: {{ user.email }}
                    </li>
                    <li class="list-group-item bg-dark text-light fs-5 text-capitalize">
                        <i class="bi {{gender_icon}} me-2"></i>Gender: {{ user_d.gender|default:"Not Set" }}
                    </li>
                    <li class="list-group-item bg-dark text-light fs-5 text-capitalize">
                        <i class="bi bi-briefcase-fill text-warning me-2"></i>Occupation: {{ user_d.occupation|default:"Not Set" }}
                    </li>
                    <li class="list-group-item bg-dark text-light fs-5 text-capitalize">
                        <i class="bi bi-geo-alt-fill text-danger me-2"></i>Address: {{ user_d.city|default:"-" }}, {{ user_d.state|default:"-" }}
                    </li>
                    <li class="list-group-item bg-dark text-light fs-5">
                        <i class="bi bi-calendar-heart text-success me-2"></i>Date of Birth: {{ user_d.dob|date:"M d, Y" }}
                    </li>
                    <li class="list-group-item bg-dark text-light fs-5">
                        <i class="bi bi-person-check-fill me-2"></i>Joined Us: {{ user.created_at|date:"M d, Y" }}
                    </li>
                </ul>

                <div class="row mt-4 text-center">
                    <div class="col-sm-6 text-center bg-dark border border-0">
                        <a href="{% url 'update_profile' %}" class="btn btn-outline-light rounded-pill">
                            <i class="bi bi-pencil-square me-1"></i>Edit Profile
                        </a>
                    </div>
                    <div class="col-sm-6 text-center bg-dark border border-0">
                        <a href="{% url 'forgot_password' %}?is_logged_in=True" class="btn btn-outline-light rounded-pill">
                            <i class="bi bi-arrow-clockwise me-1"></i>Forgot Password
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-6">
            <div class="alert alert-warning text-center fs-5 shadow">User profile data not found.</div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}