{% extends "expense/baselr.html" %}
{% block title %}Reset Password{% endblock %}
{% block body %}
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-sm-3">
            </div>
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h3 class="card-title text-center m-3">Sign Up</h3>
                        <form action="{% url 'reset_password' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-1 px-4">
                                <input type="hidden" name="email" value="{{email}}">
                            </div>
                            <div class="input-group mb-1 px-4">
                                <label for="password" class="form-label col-sm-12 fs-4">Password</label>
                                <span class="col-sm-1 input-group-text  border border-secondary border-2 border-end-0 rounded-start"><i class="bi bi-key" id="toggleIcon"></i></span>
                                <input type="password" name="password" id="password" class="col-sm-10 form-control  border border-secondary border-2 border-end-0 " placeholder="********">
                                <button type="button" class="btn border border-start-0 border-secondary border-2 rounded-end" id="togglePassword">
                                    <i class="bi bi-eye" id="toggleIcon"></i>
                                </button>
                            </div>
                            <div class="input-group mb-1 px-4">
                                <label for="confirm_password" class="form-label col-sm-12 fs-4">Confirm Password</label>
                                <span class="col-sm-1 input-group-text  border border-secondary border-2 border-end-0 rounded-start"><i class="bi bi-key" id="toggleIcon"></i></span>
                                <input type="password" name="confirm_password" id="confirm_password" class="col-sm-10 form-control  border border-secondary border-2 border-end-0" placeholder="********">
                                <button type="button" class="btn border border-start-0 border-secondary border-2 rounded-end" id="togglePassword">
                                    <i class="bi bi-eye" id="toggleIcon"></i>
                                </button>
                            </div>
                            <div class="d-grid mt-4 mx-4">
                                <input type="submit" value="Reset Password" class="btn btn-dark">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
{% endblock %}