{% extends 'expense/baselr.html' %}
{% block title %}SIGNUP{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <fieldset>
                    <legend>SIGNUP</legend>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" name="email" class="form-control" placeholder="example@example.com">
                        <input type="password" name="password" class="form-control" placeholder="********">
                        <input type="password" name="confirm_password" class="form-control" placeholder="********">
                        <input type="button" value="Signup" class="btn btn-outline-primary">
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock  %}